#reservationForm {
  position: absolute;
  display: none;
  background-color: rgb(241, 234, 226);
  left: 35%;
  top: 25vh;
  width: 400px;
}

#seachingReservations {
  position: absolute;
  margin-top: 100px;
  margin-left: 720px;
}


  #reservationsTable th, #reservationsTable td {
    border: 1px solid #272525;
    padding: 8px;
    text-align: left;
  }
  
  #reservationsTable th {
    background-color: #EEEEEE;
  } 
  
  button {
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    background-color: darkgreen;
    color: #FFFFFF;
    cursor: pointer;
    margin-right: 10px;
  }
  #clear {
    float: right;
    margin-top: -45px;
   }
  
  button:hover {
    background-color: #3E8E41;
  }
  body {
    background-color: rgb(241, 234, 226);
  }
  #logo img {
    height: 110px;
    object-fit: contain;
 
 }
.reservationManagementContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr ;
}

#logo  {
  grid-area: 1 / 1 / span 1 / span 1;
  background-color: rgb(26 20 25 / 1)
} 
#website_Name {
  grid-area: 1 / 2 / span 1 / span 2;
  color: rgb(202 188 188);
  background-color: rgb(26 20 25 / 1)
}
h2 {
  grid-area: 2 / 1 / span 1 / 4;
}
#searchBar {
  grid-area: 3/ 3 / span 1 / span 1;
}
.table{
  grid-area: 4 / 1 / span 1 / span 3;

}
#reservationsTable{
  border-collapse: collapse;
  width: auto;
  text-align: center;
}
.Footer-Section {
  grid-area: 5 / 1 / span 1 / span 3;
  background-color: #0d0b1ac9;
  text-align: center;
  height: 47px;
  position:fixed;
  bottom:0 ;
  width: 100%;
 
}

body {
  margin: 0%;
}

.Footer-Section a  {
 
  font-size: xx-large;
  color: rgb(202 188 188);
  padding: 0px 20px;
  
}

.Footer-Section span  {
 
 color:rgb(202 188 188);
 padding: 0px 50px;
 
} 
#search {
  height: 31px;
 }
 #noData {
  position: absolute;
  margin-top: 100px;
  margin-left: 720px;
  
}

 @media screen and (max-width: 768px) and (min-width: 319px) {
  * {
    box-sizing: border-box;
  }
  #logo {
    grid-area: 1 / 1 / span 1 / 2;
  }
  #website_Name {
    grid-area: 1 / 3 / span 1 / 4;
    margin-left: 15px;
    font-size: larger;
    padding: 20px;
  }
  .table{
    grid-area: 4 / 1 / span 1 / span 3;
  
  }
  #reservationsTable{
    border-collapse: collapse;
    width: auto;
  }
  

 }






















    /* #logo{
      display: flex;
      background-color: rgb(26 20 25 / 1)
  }
#logo h2 {
   margin-left: 500px;
   margin-top: 41px;
   color: rgb(202 188 188);
}
#logo img {
    height: 110px;
    object-fit: contain;
    

} 
#id1 {
  width: 300px;
}


#searchBar{
  float: right;
  margin-bottom: 20px;
}
#search {
 height: 31px;
}
#noData {
  position: absolute;
  margin-top: 100px;
  margin-left: 720px;
  
}
#seachingReservations {
  position: absolute;
  margin-top: 100px;
  margin-left: 720px;
}

body {
  margin: 0%;
}
.Footer-Section {
  background-color: #0d0b1ac9;
  text-align: center;
  height: 47px;
 
  position:absolute;
  bottom:0;
  width: 100%;
}
.Footer-Section a  {

  font-size: xx-large;
  color: rgb(202 188 188);
  padding: 0px 20px;
  
}

.Footer-Section span  {
 
 color:rgb(202 188 188);
 padding: 0px 50px;
 
} 
#clear {
 float: right;
 margin-top: -45px;
}

     */